<app-navbar></app-navbar>

<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="w-100 rounded" src="../../assets/hero-image.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h3>lorem ipsum</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas a qui vitae fugit, adipisci illum praesentium consectetur atque voluptate, non iusto sit. Quia quo ratione delectus expedita obcaecati eos! Veniam?
                Velit odit quia optio provident voluptates repellat, voluptatibus, dignissimos at dolor laborum autem cumque distinctio vitae mollitia, ea numquam architecto atque quasi corporis repellendus eaque nobis? Quia odit provident officiis!
                In dolore, suscipit non debitis repudiandae sequi facere minus facilis aut, aspernatur magnam id ullam nam modi reprehenderit rerum inventore blanditiis similique! Commodi quis beatae neque temporibus accusamus provident tempore.
                Quibusdam labore temporibus 
                Doloremque odit pariatur quod delectus id? Adipisci mollitia quasi laudantium atque laborum, assumenda iure doloremque architecto eum eveniet sapiente! Soluta sunt quae molestiae ipsa ut aliquam nihil eligendi quam cumque!
                Dolores temporibus perferendis eaque. Iure delectus nulla suscipit quisquam natus id voluptatibus saepe necessitatibus unde? Libero ea repudiandae est voluptas, pariatur porro quod, dolor recusandae debitis, inventore illum atque veniam?</p>
            </div>
        </div>
    </div>
</div>

