<nav class="navbar navbar-expand-lg bg-light">
    <div class="container align-items-baseline">
        <a class="navbar-brand" routerLink="">The baker's club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="base">
    <div class="container">
        <div class="row justify-content-end register-form">
            <div class="col-md-4">
                <h3>Registration form</h3>
                <form [formGroup]="registerForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input formControlName="username" name="ab" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.errors" >
                        <p class="custom-warning">**please enter the correct username</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" name="a" type="password" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.errors" >
                        <p class="custom-warning">**please enter the correct password</p>
                    </div>
                    <div class="py-1 d-flex justify-content-between align-items-baseline">
                        <p class="login">already a member? <a routerLink=""> Login here</a></p>
                        <button (click)="register()" type="submit" class="btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
